.crop-box {
  width: 80vw;
  height: 80vh;
  position: fixed;
  margin: 0 auto 0 auto;
  z-index: 5;
  background-color: white;
  left: 7%;
  transform: translate(0, 10%);
}

.crop-box canvas {
  margin: 0 auto 0 20vw;
  /* width: 500px;
  height: 500px; */
}
.crop-box span {
    background-color:blue;
  }