.crop-box {
  width: 80vw;
  height: 80vh;
  position: fixed;
  margin: 0 auto 0 auto;
  z-index: 5;
  background-color: white;
  left: 7%;
  transform: translate(0, 10%);
}

.crop-box canvas {
  margin: 0 auto 0 20vw;
  /* width: 500px;
  height: 500px; */
}
.crop-box button {
    position: relative;
    left: 50px
  }

.focus-point {
  position: absolute;

  width: 15px;
  height: 15px;
  background-color: purple;
  cursor: pointer;
  /* border-radius: 50%; */
}

.focus-box {
  position: absolute;
  background-color: rgb(255,0,0,0.3);
  z-index: 6;
}

.point-ne {
  position: absolute;
  top: -5px;
  left: -5px;

}

.point-nw {
  position: absolute;
  right: -5px;
  top: -5px;
}

.point-sw {
  position: absolute;
  right: -5px;
  bottom: -5px;
}

.point-se {
  position: absolute;
  left: -5px;
  bottom: -5px;
}


.slider {
  -webkit-appearance: none;
  position: relative;
  left:17vw;
  width: 50%;
  height: 15px;
  background: #d3d3d3;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}